*{
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #31363F;
  height: 30px;
  position: sticky;
  top: 0;
}

.sections {
  font-family: Roboto;
  display: inline-block;
  margin-left: 20px; 
  color: #FBF9F1;
  transition: color 1s;
  cursor: pointer;
  margin-top: 5px;
}

.sections:hover {
  color: #76ABAE;
}


